body {
    margin: auto;
    text-align: center;
    font-family: "Bodoni MT", Didot, "Didot LT STD",
        "Book Antiqua", Garamond, "Times New Roman", serif;
    font-size: 14px;
    line-height: 18px;

}
h1 {
    font-family: "Bodoni MT", Didot, "Didot LT STD",
    "Book Antiqua", Garamond, "Times New Roman", serif;
    font-size: 60px;
    line-height: 12px;
}
.header {
    background-color: aliceblue;
}
.topic {
    float: left;
    width: 55%;
    margin-left: 22%;
    text-align: center;
    line-height: 2em;
}
#italic {
    font-style: italic;
}
#underline {
    text-decoration: underline;
}
.plan {
    text-align: left;
    float: left;
    width: 55%;
    margin-left: 3%;
    line-height: 2em;
}
#teams {
    width: 48%;
}